.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 500px;
    background-color: #fff;
}

.modal-header{
    display: flex;
    padding: 15px;
    background-color: darkslateblue;
    color: #fff;
}

.modal-header h4{
    display: inline;
}

.modal-title{
    margin: 0;
    padding: 5px;
    flex: 1;
    text-align: left;
}
.modal-header .button{
    border: 0;
    width: 15px;
    padding-right: 18px;
    padding-left: 15px;
    text-align: center;
    color: black;
    background-color: darkslateblue;
}
.modal-body {
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.btnclose{
    width: 30px;
    padding-top: 2rem;
}
